.vertical-timeline-element-content {
  @apply border border-muted bg-gradient-to-br from-[#FEFEFE] to-[#F5F5F5] p-8 shadow-lg dark:from-[#0D0D0D] dark:to-[#262626];
}

.vertical-timeline-element-icon {
  @apply overflow-hidden bg-[#64646C] dark:bg-[#262626];
}
.vertical-timeline-element-icon svg {
  left: unset;
  top: unset;
  margin-left: 0 !important;
  margin-top: 0 !important;
  @apply relative h-6 w-6;
}

.vertical-timeline:before {
  @apply bg-[#FEFEFE] dark:bg-[#0B0B0B];
}

.vertical-timeline-element-content p {
  @apply text-sm leading-7 text-zinc-700 dark:text-white/85;
}

.vertical-timeline-element {
  @apply m-4;
}
