.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: -2rem !important;
}
.swiper-pagination-bullet {
  background-color: white;
}
.swiper-pagination-bullet-active {
  background-color: var(--color-light-ffc107);
}
